{{<layouts/layout-two-thirds}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$sub-content}}
<h1>GOV.UK accessibility sandbox</h1>

<p>A place to demonstrate accessibility issues and test solutions for components and design patterns.</p>

<table>
    <thead>
        <tr>
            <th scope="col">Component</th>
            <th scope="col">Source</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a href="/tests/radio-button-group">Radio buttons with the same name attribute value</a>
            </th>
            <td>GOV.UK Elements</td>
            <td>ready to test</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/tests/disclosure">Disclosure widget using details element</a>
            </th>
            <td>GOV.UK Elements</td>
            <td>ready to test</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/tests/form-toggle-content">Form toggle content</a>
            </th>
            <td>GOV.UK Elements</td>
            <td>ready to test</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/tests/memorable-dates">Memorable dates - e.g Date of Birth
                </a>
            </th>
            <td>Service Manual design pattern</td>
            <td>ready to test</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/tests/autocomplete">Autocomplete</a>
            </th>
            <td>Register to vote</td>
            <td>ready to test</td>
        </tr>
        <tr>
            <th scope="row"><a href="/tests/address-lookup">Address Lookup</a></th>
            <td>HMRC Tax Credits</td>
            <td>examples being created</td>
        </tr>
    </tbody>
</table>

<h2><a href="/resources">Resources</a></h2>
<p>Links to guidance, tools and informative videos and articles.</p>

<h2><a href="/issues">Issues on GOV.UK</a></h2>
<p>Example of accessibility issues found GOV.UK</p>

{{/sub-content}}

{{/layouts/layout-two-thirds}}